*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #121619;
    --white-color: #FDFFFC;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
  }

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@font-face { font-family: OpenDyslexic-Regular; src: url('OpenDyslexic-Regular.otf');} 
@font-face { font-family: OpenDyslexic-Italic; src: url('OpenDyslexic-Italic.otf');} 
@font-face { font-family: OpenDyslexic-Bold; src: url('OpenDyslexic-Bold.otf');}
@font-face { font-family: OpenDyslexic-BoldItalic; src: url('OpenDyslexic-BoldItalic.otf');}  

body{
    font-family: 'OpenDyslexic-Regular';
    font-size: 1.6rem;
}

.main-bg{
    background-image: url('../img/main-bg2.svg');
    background-size:cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
  }

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu{
    background-color:var(--white-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);
    font-family: 'OpenDyslexic-Bold';
    z-index: 1;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
  }
.menu h1 a {
    color: inherit;
    text-decoration: none;
  }
.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: inherit;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenDyslexic-Regular';
  }
  
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  h3 {
    font-size: 5rem;
  }
  
  h4 {
    font-size: 4.5rem;
  }
  
  h5 {
    font-size: 4rem;
  }
  
  h6 {
    font-size: 3.5rem;
  }